@charset "utf-8";

/*------------------*/
/*-- Fonts --*/
/*------------------*/

@font-face {
    font-family: 'Gilroy';
    src: url('fonts/Gilroy-Black.eot');
    src: url('fonts/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
        url('fonts/Gilroy-Black.woff2') format('woff2'),
        url('fonts/Gilroy-Black.woff') format('woff'),
        url('fonts/Gilroy-Black.ttf') format('truetype'),
        url('fonts/Gilroy-Black.svg#fonts/Gilroy-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('fonts/Gilroy-Regular.eot');
    src: url('fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Gilroy-Regular.woff2') format('woff2'),
        url('fonts/Gilroy-Regular.woff') format('woff'),
        url('fonts/Gilroy-Regular.ttf') format('truetype'),
        url('fonts/Gilroy-Regular.svg#fonts/Gilroy-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('fonts/Gilroy-SemiBold.eot');
    src: url('fonts/Gilroy-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Gilroy-SemiBold.woff2') format('woff2'),
        url('fonts/Gilroy-SemiBold.woff') format('woff'),
        url('fonts/Gilroy-SemiBold.ttf') format('truetype'),
        url('fonts/Gilroy-SemiBold.svg#fonts/Gilroy-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy Heavy';
    src: url('fonts/Gilroy-Heavy.eot');
    src: url('fonts/Gilroy-Heavy.eot?#iefix') format('embedded-opentype'),
        url('fonts/Gilroy-Heavy.woff2') format('woff2'),
        url('fonts/Gilroy-Heavy.woff') format('woff'),
        url('fonts/Gilroy-Heavy.ttf') format('truetype'),
        url('fonts/Gilroy-Heavy.svg#fonts/Gilroy-Heavy') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('fonts/Gilroy-ExtraBold.eot');
    src: url('fonts/Gilroy-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Gilroy-ExtraBold.woff2') format('woff2'),
        url('fonts/Gilroy-ExtraBold.woff') format('woff'),
        url('fonts/Gilroy-ExtraBold.ttf') format('truetype'),
        url('fonts/Gilroy-ExtraBold.svg#fonts/Gilroy-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('fonts/Gilroy-Light.eot');
    src: url('fonts/Gilroy-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/Gilroy-Light.woff2') format('woff2'),
        url('fonts/Gilroy-Light.woff') format('woff'),
        url('fonts/Gilroy-Light.ttf') format('truetype'),
        url('fonts/Gilroy-Light.svg#fonts/Gilroy-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}


/*-------------------------------------------*/
/* BASIC SETUP */
/*-------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    -webkit-text-size-adjust: 100%;
}

html,
body {
    min-height: 100%;
    min-width: 100%;
    height: 100%;
}

body {
    background: #ffffff;
    font-size: 15px;
    line-height: 24px;
    font-family: "Gilroy";
    color: #4f4f4f;    
    font-weight: normal;
}

.wrapper {
    position: relative;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    min-height: 100%;
    min-height: 100vh;
    overflow: hidden;
}

header {
    flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
}

.content {
    flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
}

footer {
    flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
}

::-webkit-input-placeholder {color:rgb(141, 141, 141);}
::-moz-placeholder          {color:rgb(141, 141, 141);}
:-moz-placeholder           {color:rgb(141, 141, 141);}
:-ms-input-placeholder      {color:rgb(141, 141, 141);}

input,
textarea,
button,
select,
a,
img {
    outline: none;
}

select {
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance;
    text-indent: 0.01px;
    text-overflow: "";
}

*::-ms-expand { display: none; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input {
    -webkit-appearance: none;
    -moz-appearance
}

button {
    -webkit-appearance: none;
    -moz-appearance
}

textarea {
    resize: none;
    overflow: auto;
    -webkit-appearance: none;
    -moz-appearance;
}

input::-webkit-input-placeholder       {opacity: 1; transition: opacity .3s ease;}
input::-moz-placeholder                {opacity: 1; transition: opacity .3s ease;}
input:-moz-placeholder                 {opacity: 1; transition: opacity .3s ease;}
input:-ms-input-placeholder            {opacity: 1; transition: opacity .3s ease;}
input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity .3s ease;}
input:focus::-moz-placeholder          {opacity: 0; transition: opacity .3s ease;}
input:focus:-moz-placeholder           {opacity: 0; transition: opacity .3s ease;}
input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity .3s ease;}

textarea::-webkit-input-placeholder       {opacity: 1; transition: opacity .3s ease;}
textarea::-moz-placeholder                {opacity: 1; transition: opacity .3s ease;}
textarea:-moz-placeholder                 {opacity: 1; transition: opacity .3s ease;}
textarea:-ms-input-placeholder            {opacity: 1; transition: opacity .3s ease;}
textarea:focus::-webkit-input-placeholder {opacity: 0; transition: opacity .3s ease;}
textarea:focus::-moz-placeholder          {opacity: 0; transition: opacity .3s ease;}
textarea:focus:-moz-placeholder           {opacity: 0; transition: opacity .3s ease;}
textarea:focus:-ms-input-placeholder      {opacity: 0; transition: opacity .3s ease;}


/*-------------------------------------------*/
/* ----- DEFAULT STYLES ------ */
/*-------------------------------------------*/

section {
    position: relative;
    padding: 10px 0;
}

h1 {
    font-size: 25px;
    line-height: 1.45;
    font-family: "Gilroy";
    color: #000;
    font-weight: 900;
    text-transform: uppercase;
}

h2 {
    font-size: 25px;
    line-height: 1.45;
    font-family: "Gilroy";
    color: #000;
    font-weight: 900;
    text-transform: uppercase;
}

h3 {
    font-size: 22px;
    line-height: 1.45;
    font-family: "Gilroy";
    font-weight: normal;
    color: #000;
}

h4 {
    font-size: 15px;
    line-height: 24px;
    font-family: "Gilroy";
    color: #4f4f4f;    
    font-weight: normal;
}

p {
    font-size: 15px;
    line-height: 24px;
    font-family: "Gilroy";
    color: #4f4f4f;    
    font-weight: normal;
}

a {
    text-decoration: none;
    font-size: 15px;
    line-height: 24px;
    font-family: "Gilroy";
    color: #4f4f4f;    
    font-weight: normal;
}

li {
    list-style: none;
    font-size: 15px;
    line-height: 24px;
    font-family: "Gilroy";
    color: #4f4f4f;    
    font-weight: normal;
}

img {
    outline: none;
    border: 1px solid transparent;
    border: none;
}

button:hover,
button:active,
a:hover,
a:active {
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
    -webkit-tap-highlight-color: transparent;
}

input {

}

input:focus {

}

textarea {

}

textarea:focus {

}

/*-------------------------------------------*/
/* ----- REUSABLE COMPONENTS ------ */
/*-------------------------------------------*/

.row {
    width: 100%;
    /*min-width: 1920px;*/
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 25px;
}

.row_2 {
    /*width: 1760px;*/
    max-width: 1760px;
    width: 100%;
}

.overflow_wrapp {
    overflow: hidden;
}

.align_center {
    text-align: center;
}

.align_right {
    text-align: right;
}

.align_left {
    text-align: left;
}

.main_page {
    background-color: #d40c0c;
    background-size: cover;
    background-image: url(img/dots_bg.png);
}

/*-- Slick --*/

.slick-arrow {
    display: block;
    width: 75px;
    height: 75px;
    cursor: pointer;
    z-index: 2;
    position: absolute;
    top: 50%;
    opacity: .6;
    margin-top: -40px;
    background: #ffffff;
    border: 1px solid transparent;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .5);
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .5);
    -webkit-transition-property: box-shadow, opacity;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: box-shadow, opacity;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: box-shadow, opacity;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: box-shadow, opacity;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: box-shadow, opacity;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.slick-arrow:hover {
    opacity: 1;
    -webkit-box-shadow: 0 1px 12px 0 rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 1px 12px 0 rgba(0, 0, 0, .5);
    box-shadow: 0 1px 12px 0 rgba(0, 0, 0, .5);
}

.slick-arrow img {
    display: block;
    width: 36px;
    height: auto;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.slick-prev {
    left: -21px;
}

.slick-prev img {
    left: -2px;
}

.slick-next {
    right: -21px;
}

.slick-next img {
    right: -6px;
}

.slick-dots {
    text-align: center;
}

.slick-dots li {
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    margin: 4px;
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    width: 16px;
    height: 16px;
    cursor: pointer;
    background: transparent;
    position: relative;
    border: 2px solid #006df0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.slick-dots li.slick-active button {
    background: #006df0;
}

/*-- /Slick --*/

/*-- Breadcrumbs --*/

/*.breadcrumbs_wrapp {
    padding: 40px 0 20px 0;
}

.breadcrumbs li {
    display: inline-block;
    vertical-align: top;
    padding: 0 5px;
}

.breadcrumbs li:after {
    position: relative;
    top: -2px;
    left: 5px;
    content: "\2192";
    font-size: 13px;
    line-height: 23px;
    color: #333333;
}

.breadcrumbs li:last-child:after {
    display: none;
}

.breadcrumbs li a {
    border-bottom: 1px solid transparent;
    font-size: 18px;
    line-height: 23px;
    color: #333333;
}

.breadcrumbs li a:link,
.breadcrumbs li a:visited {
    border-bottom: 1px solid transparent;
}

.breadcrumbs li a:active,
.breadcrumbs li a.active {
    border-bottom: 1px solid #333333;
}

.breadcrumbs li a:hover {
    border-bottom: 1px solid #333333;
}

.breadcrumbs li:last-child a {
    pointer-events: none;
    cursor: default;
    opacity: .6;
    border-bottom: 1px solid transparent;
}*/

/*-- /Breadcrumbs --*/

/*-------------------------------------------*/
/* ----- HEADER ------ */
/*-------------------------------------------*/

.header_site_templ {
    display: flex;
    display: -webkit-flex;
    padding: 31px 0 20px 0;
}

.header_site_templ .left {
    width: calc(50% - 110px);
}

.header_site_templ .center {
    width: 220px;
    text-align: center;
}

.header_site_templ .right {
    width: calc(50% - 110px);
    text-align: right;
}

.header_site_templ .right > div {
    display: inline-block;
    vertical-align: top;
    text-align: left;
}

.main_nav {
    display: flex;
    display: -webkit-flex;
    margin: 10px -26px;
}

.main_nav li {
    padding: 5px 26px;
}

.main_nav li a {
    text-transform: uppercase;
    border-bottom: 1px solid transparent;
    font-size: 15px;
    line-height: 15px;
    font-weight: 900;
    color: #000;
    -webkit-transition-property: border;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: border;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: border;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: border;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: border;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.main_nav li a:link,
.main_nav li a:visited {
    border-bottom: 1px solid transparent;
}

.main_nav li a:active,
.main_nav li a.active {
    border-bottom: 1px solid #000;
}

.main_nav li a:hover {
    border-bottom: 1px solid #000;
}

.dropdown_box {
    width: 50px;
    margin: 16px 0 0 0;
    position: relative;
}

.hide_val {
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.dropdown_title {
    width: 100%;
    cursor: pointer;
    position: relative;
    font-weight: 900;
    font-size: 15px;
    line-height: 22px;
    color: #000;
}

.active_val {
    white-space: nowrap;
    overflow: hidden;
    font-weight: 900;
    font-size: 15px;
    line-height: 22px;
    color: #000;
    position: relative;
    z-index: 2;
}

.dropdown_list {
    opacity: 0;
    width: 116px;
    padding: 9px 15px 8px 15px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    background-color: #fff;
    box-shadow: 1.736px 9.848px 56px 24px rgba(14, 49, 62, .16);
    -webkit-box-shadow: 1.736px 9.848px 56px 24px rgba(14, 49, 62, .16);
    margin-top: 0;
    position: absolute;
    top: 100%;
    left: -100vw;
    -webkit-transition-property: margin-top, opacity;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: margin-top, opacity;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: margin-top, opacity;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: margin-top, opacity;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: margin-top, opacity;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.dropdown_box.active .dropdown_list {
    margin-top: 5px;
    z-index: 4;
    opacity: 1;
    left: auto;
    right: 0;
}

.dropdown_box.active .dropdown_title:after {
    transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
}

.dropdown_list > div {
    margin: 15px 0;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 15px;
    line-height: 22px;
    color: #000;
    -webkit-transition-property: color;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: color;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: color;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: color;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: color;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.dropdown_list > div:hover {
    color: #e41212;
}

.header_site_templ .right > div.inlines_2 {
    display: flex;
    display: -webkit-flex;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
    margin: 0 -25px;
}

.inlines_2 > div {
    padding: 0 25px;
    line-height: 1;
}

.bold_link {
    display: inline-block;
    vertical-align: top;
    text-transform: uppercase;
    border-bottom: 1px solid transparent;
    font-size: 15px;
    line-height: 15px;
    font-weight: 900;
    color: #000;
    -webkit-transition-property: border;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: border;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: border;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: border;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: border;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.bold_link:link,
.bold_link:visited {
    border-bottom: 1px solid transparent;
}

.bold_link:active,
.bold_link.active {
    border-bottom: 1px solid #000;
}

.bold_link:hover {
    border-bottom: 1px solid #000;
}

.inlines_2 .bold_link {
    margin-top: 19px;
}

.dropdown_box_2 {
    width: 100px;
}

.dropdown_box_2 .dropdown_title {
    padding-top: 2px;
}

.dropdown_box_2 .dropdown_title:after {
    display: block;
    content: "";
    width: 14px;
    height: 14px;
    background-image: url(img/arrow_down.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 5px;
    right: 0;
}

.dropdown_box_2 .active_val {
    display: inline-block;
    vertical-align: top;
    line-height: 17px;
    border-bottom: 1px solid #000;
    text-transform: uppercase;
    -webkit-transition-property: border;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: border;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: border;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: border;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: border;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.dropdown_box_2 .active_val:link,
.dropdown_box_2 .active_val:visited {
    border-bottom: 1px solid #000;
}

.dropdown_box_2 .active_val:active,
.dropdown_box_2 .active_val.active {
    border-bottom: 1px solid transparent;
}

.dropdown_box_2 .active_val:hover {
    border-bottom: 1px solid transparent;
}

/*-------------------------------------------*/
/* ----- CONTENT ------ */
/*-------------------------------------------*/

/*-- Section 1 - Main Page --*/

.main_page_templ {
    display: flex;
    display: -webkit-flex;
    margin-bottom: -30px;
}

.main_page_templ .left {
    width: 62%;
    padding: 0 10px 0 0;
}

.main_page_templ .right {
    width: 38%;
    padding: 0 0 0 10px;
    position: relative;
    z-index: 2;
}

.promo_text {
    padding: 201px 0 30px 0px;
    position: relative;
    text-align: center;
}

.promo_text .promo_text_bg {
    position: absolute;
    top: -25px;
    left: 0;
}

.promo_text .inner {
    position: relative;
    z-index: 2;
}

.promo_text h1 {
    padding: 5px 0;
    letter-spacing: .5px;
    font-family: 'Gilroy Heavy';
    font-size: 65px;
    line-height: 110px;
    color: #fff;
}

.promo_text h2 {
    padding: 5px 0;
    font-family: 'Gilroy Heavy';
    font-weight: 900;
    font-size: 35px;
    line-height: 45px;
    color: #fff;
}

.pistolet {
    position: absolute;
    bottom: 20px;
    left: -25px;
    z-index: 3;
}

.form_box {
    max-width: 620px;
    min-height: 1065px;
    margin: 25px 0 25px 0;
    padding: 45px 90px 45px 90px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 105px 45px rgba(0, 0, 0, .21);
}

.form_box_title {
    padding: 11px 0;
    text-align: center;
}

.form_box_title h3 {
    font-family: 'Gilroy Heavy';
    font-weight: 900;
    font-size: 45px;
    line-height: 52px;
    color: #3b3b3b;
}

.form_wrapp {
    padding: 20px 0 100px 0;
    border-bottom: 1px solid #e0e0e0;
}

.input_wrapp {
    margin: 10px 0;
}

.input_wrapp input {
    display: block;
    width: 100%;
    height: 50px;
    padding: 0 20px;
    background-color: rgb(245, 245, 245);
    border: 1px solid rgb(217, 217, 217);
    font-family: 'Gilroy';
    font-size: 16px;
    line-height: 49px;
    color: #000;
    font-weight: normal;
}

.two_cols {
    display: flex;
    display: -webkit-flex;
    margin: 25px 0 25px 0;
}

.two_cols > div:nth-child(odd) {
    width: 50%;
    padding: 0 .5px 0 0;
}

.two_cols > div:nth-child(even) {
    width: 50%;
    padding: 0 0 0 .5px;
}

.black_pill {
    display: block;
    cursor: pointer;
    width: 100%;
    padding: 13px 10px 13px 10px;
    text-align: center;
    text-transform: uppercase;
    border: none;
    background-color: rgb(0, 0, 0);
    font-weight: 900;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    -webkit-transition-property: background;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: background;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: background;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: background;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: background;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.black_pill:hover {
    background: #d40c0c;
}

.red_link_wrapp {
    padding: 23px 0;
    text-align: center;
}

.red_link {
    border-bottom: 1px solid #f00000;
    font-size: 18px;
    line-height: 20px;
    font-weight: normal;
    color: #f00000;
    -webkit-transition-property: border;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: border;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: border;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: border;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: border;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.red_link:hover {
    border-bottom: 1px solid transparent;
}

.list_1 {
    margin: 136px 0 35px 0px;
}

.list_1 li {
    margin: 25px 0;
    padding: 13px 0 13px 42px;
    position: relative;
    font-weight: 900;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
}

.list_1 li:before {
    display: block;
    content: "";
    width: 32px;
    height: 52px;
    background-image: url(img/item_mark.png);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
}

/*-- /Section 1 - Main Page --*/

/*-- Section 1 - Help Page --*/

.help_bg {
    padding-bottom: 128px;
    position: relative;
}

.help_bg_img {
    width: auto;
    min-width: 100%;
    position: absolute;
    top: -55px;
    left: 50%;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
}

.help_bg .row {
    position: relative;
    z-index: 2;
}

.title_wrapp {
    padding: 29px 0 13px 0;
}

.two_cols_2 {
    display: flex;
    display: -webkit-flex;
}

.two_cols_2 .left {
    width: 325px;
    padding: 10px 15px 10px 0;
}

.two_cols_2 .right {
    width: calc(100% - 325px);
    padding: 10px 0 10px 15px;
}

.sidebar {
    padding: 27px 0 33px 0;
    background-color: rgb(255, 255, 255);
    box-shadow: 1.389px 7.878px 26.1px 3.9px rgba(14, 49, 62, .06);
    -webkit-box-shadow: 1.389px 7.878px 26.1px 3.9px rgba(14, 49, 62, .06);
}

.sidebar_list {
    padding-left: 25px;
}

.sidebar_list > li {
    padding: 11px 0;
}

.sidebar_list li a {
    display: block;
    position: relative;
    text-transform: uppercase;
    font-size: 17px;
    line-height: 17px;
    color: #000;
    font-weight: 800;
    -webkit-transition-property: color;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: color;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: color;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: color;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: color;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.sidebar_list li a:link,
.sidebar_list li a:visited {
    color: #000;
}

.sidebar_list li a:active,
.sidebar_list li a.active {
    color: #d30c0c;
}

.sidebar_list li a:hover {
    color: #d30c0c;
}

.sidebar_list li ul {
    display: none;
    padding-top: 9px;
    padding-left: 20px;
}

.sidebar_list li.active > a:after {
    display: block;
    content: "";
    width: 4px;
    height: calc( 100% + 9px);
    position: absolute;
    top: -4px;
    right: 0;
    background-color: #d30c0c;
}

.sidebar_list li.active > a {
    color: #d30c0c;
}

.sidebar_list li.active ul {
    display: block;
}

.sidebar_list li ul li {
    padding: 10px 0;
}

.sidebar_list li ul li:last-child {
    padding-bottom: 0;
}

.sidebar_list li ul li a {
    text-transform: none;
    color: #726d6d;
}

.sidebar_list li ul li a:link,
.sidebar_list li ul li a:visited {
    color: #726d6d;
}

.sidebar_list li ul li a:active,
.sidebar_list li ul li a.active {
    color: #d30c0c;
}

.sidebar_list li ul li a:hover {
    color: #d30c0c;
}

.search_form_wrapp {
    margin-bottom: 27px;
    position: relative;
}

.search_form_wrapp input {
    display: block;
    width: 100%;
    height: 50px;
    padding: 0 160px 0 20px;
    background-color: rgb(245, 245, 245);
    border: 1px solid rgb(217, 217, 217);
    font-family: 'Gilroy';
    font-size: 16px;
    line-height: 49px;
    color: #000;
    font-weight: normal;
}

.search_form_wrapp .black_pill {
    display: inline-block;
    vertical-align: top;
    width: 148px;
    padding: 15px 10px 15px 10px;
    position: absolute;
    top: 0;
    right: 0;
}

.seo_item {
    margin: 17px 0;
    padding: 16px 35px 20px 38px;
    border: 1px solid #d9d9d9;
}

.seo_item h3 {
    padding: 11px 0 11px 0;
    font-size: 22px;
    font-weight: 600;
}

.seo_item p {
    padding: 11px 0 11px 0;
}

/*-- /Section 1 - Help Page --*/

/*-- Section 1 - About Page --*/

.about_templ {
    display: flex;
    display: -webkit-flex;
    margin: 54px 0;
}

.about_templ .left {
    width: 750px;
}

.about_templ .right {
    width: calc(100% - 750px);
}

.about_img {
    position: relative;
    left: -30px;
}

.about_article {
    padding: 4px 0;
}

.about_article h2 {
    padding: 28px 0;
    letter-spacing: 1px;
    text-transform: none;
    font-family: 'Gilroy Heavy';
    font-weight: 900;
    color: #3b3b3b;
    font-size: 45px;
    line-height: 52px;
}

.about_article p {
    padding: 9px 0;
    line-height: 26px;
}

.items_box {
    background-color: #f9f9f9;
}

.list_1_2 {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    margin: 55px 0 35px 0;
    padding: 0 50px;
}

.list_1_2 li {
    margin: 14px 10px;
}

/*-- /Section 1 - About Page --*/

/*-- Section 1 - Projects Page --*/

.two_cols_2_2 > .left {
    width: 185px;
}

.two_cols_2_2 > .right {
    width: calc(100% - 185px);
}

.two_cols_2_2 .sidebar {
    margin-top: 80px;
}

.title_wrapp_templ {
    display: flex;
    display: -webkit-flex;
}

.title_wrapp_templ .left {
    width: 50%;
}

.title_wrapp_templ .right {
    width: 50%;
    text-align: right;
}

.title_wrapp_templ .title_wrapp {
    padding: 10px 0;
}

.right_inlines {
    display: flex;
    display: -webkit-flex;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
    margin: 0 -10px;
}

.right_inlines > div {
    padding: 0 10px;
}

.white_pill {
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 8px 0;
    padding: 7px 50px 7px 17px;
    background-color: #fff;
    border: 1px solid #e31212;
    font-size: 15px;
    color: #e51212;
    line-height: 1.2;
}

.plus_pill:after {
    display: block;
    content: "";
    width: 14px;
    height: 14px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url(img/plus.svg);
    position: absolute;
    top: 9px;
    right: 14px;
}

.table_1 {
    margin: 3px 0;
}

.table_1 .table_row {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    border-bottom: 1px solid #f3f6f8;
    padding: 5px 25px 9px 25px;
    min-height: 49px;
}

.table_1 .table_row .cell {
    padding: 0 10px;
}

.table_1 .table_row .cell:nth-child(1) {
    width: 27%;
}

.table_1 .table_row .cell:nth-child(2) {
    width: 22%;
}

.table_1 .table_row .cell:nth-child(3) {
    width: 13%;
}

.table_1 .table_row .cell:nth-child(4) {
    width: 20%;
}

.table_1 .table_row .cell:nth-child(5) {
    width: 18%;
}

.table_1 .table_row:nth-child(1) {
    min-height: 47px;
    padding: 16px 25px 15px 25px;
    background-color: #eef7ff;
}

.table_1 h3 {
    font-size: 14px;
    line-height: 15px;
    font-weight: 600;
    color: #000;
}

.table_1 p {
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
    color: #000;
}

.link_1 {
    border-bottom: 1px solid #000;
    font-weight: 900;
    font-size: 14px;
    line-height: 15px;
    font-weight: 600;
    color: #000;
    -webkit-transition-property: border;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: border;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: border;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: border;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: border;
    transition-duration: .3s;
    transition-timing-function: ease;  
}

.link_1:link,
.link_1:visited {
    border-bottom: 1px solid #000;
}

.link_1:active,
.link_1.active {
    border-bottom: 1px solid transparent;
}

.link_1:hover {
    border-bottom: 1px solid transparent;
}

.links_list {
    display: flex;
    display: -webkit-flex;
    margin: 0 -13px;
}

.table_1 .links_list {
    position: relative;
    top: 3px;
}

.links_list li {
    padding: 0 13px;
}

.links_list li a {
    display: inline-block;
    vertical-align: top;
}

.pagination {
    display: flex;
    display: -webkit-flex;
    width: 100%;
    justify-content: center;
    -webkit-justify-content: center;
    margin: 23px 0;
}

.pagination li {
    padding: 0 17px;
}

.pagination li a {
    display: inline-block;
    vertical-align: top;
    position: relative;
    height: 43px;
    min-width: 40px;
    padding: 0 12px;
    background-color: transparent;
    font-size: 14px;
    line-height: 42px;
    color: #8a8a8a;
}

.pagination li a.active {
    background-color: #212121;
    color: #fff;
    font-weight: 900;
}

.pagination li a:hover {
    background-color: #212121;
    color: #fff;
}

.pagination li a.prev,
.pagination li a.next {
    background-color: transparent !important;
    color: #8a8a8a !important;
}

.prev:before {
    display: block;
    content: "";
    width: 30px;
    height: 10px;
    background-image: url(img/left.svg);
    background-repeat: no-repeat;
    background-position: center;
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    position: absolute;
    top: 50%;
    right: 100%;
    margin-left: -19px;
    margin-top: 1px;
}

.next:after {
    display: block;
    content: "";
    width: 30px;
    height: 10px;
    background-image: url(img/right.svg);
    background-repeat: no-repeat;
    background-position: center;
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    position: absolute;
    top: 50%;
    left: 100%;
    margin-right: -19px;
    margin-top: 1px;
}

.pagination .dots {
    position: relative;
    top: 9px;
}

/*-- /Section 1 - Projects Page --*/

/*-- Section 1 - Subscration Page --*/

.two_cols_3 {
    display: flex;
    display: -webkit-flex;
}

.two_cols_3 > .left {
    width: 305px;
    padding: 5px 15px 0 5px;
}

.two_cols_3 > .right {
    width: calc(100% - 305px);
    padding: 5px 0 5px 15px;
}

.table_2_wrapp {
    background-color: #fbfbfb;
}

.table_2_title {
    padding: 14px 20px 13px 20px;
    background-color: #000;
}

.table_2_title h3 {
    font-size: 18px;
    line-height: 20px;
    font-weight: 900;
    color: #fff;
}

.table_2 {
    padding: 13px 20px 15px 20px;
}

.table_2 .table_row {
    display: flex;
    display: -webkit-flex;
    padding: 11px 0 11px 0;
}

.table_2 .table_row .cell:nth-child(1) {
    width: 50%;
}

.table_2 .table_row .cell:nth-child(2) {
    width: 50%;
    text-align: right;
}

.table_2 h3 {
    font-size: 16px;
    line-height: 20px;
    font-weight: normal;
    color: #000;
}

.table_2 p {
    font-size: 16px;
    line-height: 20px;
    font-weight: 900;
    color: #000;
}

.table_3 {
    border-left: 1px solid #f2f2f2;
    border-right: 1px solid #f2f2f2;
}

.table_3 .table_row {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    min-height: 46px;
    border-bottom: 1px solid #f2f2f2;
    padding: 7px 25px 7px 25px;
}

.table_3 .table_row:nth-child(1) {
    background-color: #eef7ff;
}

.table_3 .table_row .cell:nth-child(1) {
    width: 4%;
}

.table_3 .table_row .cell:nth-child(2) {
    width: 20%;
}

.table_3 .table_row .cell:nth-child(3) {
    width: 12%;
}

.table_3 .table_row .cell:nth-child(4) {
    width: 14%;
}

.table_3 .table_row .cell:nth-child(5) {
    width: 16%;
}

.table_3 .table_row .cell:nth-child(6) {
    width: 17%;
}

.table_3 .table_row .cell:nth-child(7) {
    width: 17%;
}

.table_3 h3 {
    font-size: 14px;
    line-height: 15px;
    font-weight: 600;
    color: #000;
}

.table_3 p {
    font-size: 14px;
    line-height: 15px;
    font-weight: normal;
    color: #000;
}

.heavy  {
    font-weight: 900 !important;
}

.red_heavy {
    font-family: 'Gilroy Heavy' !important;
    font-weight: 900 !important;
    color: #d40c0c !important;
}

.select_link {
    display: inline-block;
    vertical-align: top;
    padding: 6px 16px 6px 16px;
    background-color: transparent;
    border: 1px solid #e31212;
    font-size: 15px;
    line-height: 20px;
    color: #e51212;
    -webkit-transition-property: background, color;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: background, color;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: background, color;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: background, color;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: background, color;
    transition-duration: .3s;
    transition-timing-function: ease;  
}

.select_link:hover {
    background-color: #e51212;
    color: #fff;
}

/*-- /Section 1 - Subscration Page --*/

/*-- Section 1 - Tickets Page --*/

.table_4 {
    margin: 3px 0;
}

.table_4 .table_row {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    min-height: 50px;
    border-bottom: 1px solid #f2f2f2;
    padding: 7px 60px 7px 70px;
}

.table_4 .table_row:nth-child(1) {
    background-color: #eef7ff;
}

.table_4 .table_row .cell:nth-child(1) {
    width: 28%;
}

.table_4 .table_row .cell:nth-child(2) {
    width: 30%;
}

.table_4 .table_row .cell:nth-child(3) {
    width: 29%;
}

.table_4 .table_row .cell:nth-child(4) {
    width: 13%;
}

.table_4 h3 {
    font-size: 14px;
    line-height: 15px;
    font-weight: 600;
    color: #000;
}

.table_4 p {
    font-size: 14px;
    line-height: 15px;
    font-weight: normal;
    color: #000;
}

.red_pill {
    display: inline-block;
    vertical-align: top;
    min-width: 95px;
    padding: 6px 16px 6px 16px;
    border: 1px solid #d40c0c;
    background-color: #d40c0c;
    text-align: center;
    font-size: 15px;
    line-height: 20px;
    color: #fff;
    -webkit-transition-property: background, color;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: background, color;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: background, color;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: background, color;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: background, color;
    transition-duration: .3s;
    transition-timing-function: ease;  
}

.red_pill:hover {
    background-color: #fff;
    color: #d40c0c;
}

.btn_wrapp {
    padding: 6px 0;
    text-align: center;
}

.btn_wrapp .black_pill {
    display: inline-block;
    vertical-align: top;
    min-width: 156px;
    width: auto;
    padding-left: 30px;
    padding-right: 30px;
}

/*-- /Section 1 - Tickets Page --*/

/*-- Section 1 - Personal Info Page --*/

.personal {
    display: flex;
    display: -webkit-flex;
    max-width: 980px;
    margin: 3px 0;
    padding: 20px 75px 20px 38px;
    background-color: #f9f9f9;
}

.personal > .col:nth-child(1) {
    width: 200px;
}

.personal > .col:nth-child(2) {
    width: 290px;
}

.personal > .col:nth-child(3) {
    width: calc(100% - 490px);
    text-align: right;
}

.user_photo {
    width: 130px;
    height: 130px;
    overflow: hidden;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    position: relative;
}

.user_photo img {
    display: block;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.personal .descript p {
    padding: 15px 0 15px 0;
    font-size: 16px;
    line-height: 20px;
}

.personal .descript p:nth-child(1) {
    padding-top: 6px;
}

.bold {
    font-weight: bold;
}

.red_pill_2 {
    margin: 10px 0;
    padding: 12px 20px 12px 20px;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 20px;
    font-weight: 900;
}

/*-- /Section 1 - Personal Info Page --*/

/*-- Section - 404 --*/

.page_404 {
    position: relative;
    background-color: #fff;
}

.bg_404 {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
}

.bg_404_sect {
    /*background-color: #fff;*/
}

.descript_404 {
    width: 1009px;
    height: 760px;
    margin: 3% auto 0 auto;
    padding: 132px 0 0 235px;
    background-image: url(img/404.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.title_404 {
    position: relative;
}

.shot {
    width: 17px;
    height: 28px;
    background-image: url(img/shot.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.title_404 .shot:nth-child(1) {
    position: absolute;
    top: 127px;
    left: 34px;
    z-index: 2;
}

.title_404 .shot:nth-child(2) {
    position: absolute;
    top: 158px;
    left: 237px;
    z-index: 2;
}

p.red_404 {
    font-family: 'Gilroy Heavy';
    font-weight: 900;
    font-size: 225px;
    line-height: 225px;
    color: #e51212;
}

.descript_404_text p {
    font-family: 'Gilroy Heavy';
    font-weight: 900;
    font-size: 35px;
    line-height: 52px;
    color: #fff;
}

.descript_404 p:nth-child(2) {
    padding-left: 50px;
}

/*-- /Section - 404 --*/

/*-- Section - 500 --*/

.bg_500 {
    width: 1426px;
    height: 750px;
    margin: 3% auto 0 auto;
    padding: 125px 0 0 243px;
    background-image: url(img/500.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.title_500 {
    position: relative;
}

.title_500 .shot {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.title_500 .shot:nth-child(1) {
    top: 89px;
    left: 47px;
}

.title_500 .shot:nth-child(2) {
    top: 155px;
    left: 237px;
}

.title_500 .shot:nth-child(3) {
    top: 38px;
    left: 367px;
}

.title_500 h3 {
    font-family: 'Gilroy Heavy';
    font-weight: 900;
    font-size: 225px;
    line-height: 225px;
    color: #e51212;
}

.title_500 p {
    font-family: 'Gilroy Heavy';
    padding-left: 10px;
    font-weight: 900;
    font-size: 65px;
    line-height: 65px;
    color: #e51212;
}

.content_500_footer {
    padding-left: 90px;
}

.content_500_footer p:nth-child(1) {
    font-family: 'Gilroy Heavy';
    padding-top: 22px;
    font-weight: 900;
    font-size: 45px;
    line-height: 52px;
    color: #fff;
}

.content_500_footer p:nth-child(2) {
    font-family: 'Gilroy Heavy';
    padding-top: 8px;
    padding-left: 54px;
    font-weight: 900;
    font-size: 20px;
    line-height: 26px;
    color: #fff;
}

.content_500_footer_2 {
    width: 390px;
    margin-left: 145px;
    margin-top: 24px;
}

.content_500_footer_2 p {
    font-family: 'Gilroy Heavy';
    font-weight: 900;
    font-size: 20px;
    line-height: 26px;
    color: #fff;
}

/*-- /Section - 500 --*/

/*-- Section - Admin Text --*/

.admin_text {
    width: 1413px;
    height: 775px;
    margin: 3% auto 0 auto;
    padding: 256px 0 0 125px;
    background-image: url(img/admin_text.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.admin_text_content {
    max-width: 830px;
    text-align: center;
}

.admin_text_content h3 {
    font-family: 'Gilroy Heavy';
    text-transform: uppercase;
    font-weight: 900;
    font-size: 65px;
    line-height: 82px;
    color: #e51212;
    letter-spacing: 3px;
}

.mail_wrapp {
    padding: 58px 0 100px 0;
    text-align: center;
    position: relative;
    z-index: 2;
}

.red_link_2 {
    font-size: 20px;
    line-height: 20px;
    color: #e51212;
    border-bottom: 1px solid transparent;
    -webkit-transition-property: border;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: border;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: border;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: border;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: border;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.red_link_2:hover {
    border-bottom: 1px solid #e51212;
}

/*-- /Section - Admin Text --*/

/*-- Section 1 - Dashboard Page --*/

.table_5 {
    position: relative;
}

.table_5 .table_row {
    display: flex;
    display: -webkit-flex;
    min-height: 47px;
}

.table_5 .table_row .cell:nth-child(1) {
    width: 23%;
    margin-left: 17%;
}

.table_5 .table_row .cell:nth-child(2) {
    width: 12%;
}

.table_5 .table_row .cell:nth-child(3) {
    width: 12%;
}

.table_5 .table_row .cell:nth-child(4) {
    width: 13%;
}

.table_5 .table_row .cell:nth-child(5) {
    width: 12%;
}

.table_5 .table_row .cell:nth-child(6) {
    width: 11%;
}

.table_5 .table_row .cell {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;  
}

.table_5 .table_header {
    background: #eef7ff;
    position: relative;
    z-index: 2;
}

.table_5 .table_header .cell {
    flex-grow: 1;
    padding: 10px 35px 10px 35px;
    border-left: 1px solid #e9eef2;
}

.table_5 .table_header h3 {
    font-size: 14px;
    line-height: 15px;
    font-weight: 600;
    color: #000;
}

.table_row_title {
    margin-top: -1px;
}

.table_5 .table_row.table_row_title .cell:nth-child(1) {
    width: 17%;
    margin-left: 0;
    padding: 3px 10px 5px 30px;
    border-top: 1px solid #e9eef2;
    border-right: 1px solid #e9eef2;
    border-bottom: 1px solid #e9eef2;
}

.thumb_title {
    display: flex;
    display: -webkit-flex;
}

.thumb_title > div:nth-child(1) {
    width: calc(100% - 25px);
}

.thumb_title > div:nth-child(2) {
    width: 25px;
    text-align: right;
}

.link_2 {
    font-size: 14px;
    line-height: 14px;
    font-weight: 900;
    border-bottom: 1px solid #171717;
    color: #171717;
    -webkit-transition-property: border;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: border;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: border;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: border;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: border;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.link_2:hover {
    border-bottom: 1px solid transparent
}

.icon_link {
    display: inline-block;
    vertical-align: top;
    margin: 4px 0 0 0;
    line-height: 1;
}

.table_5 .red_pill {
    margin: 5px 0;
}

.table_5_inner {
    display: flex;
    display: -webkit-flex;
    height: 100%;
    margin-top: -1px;
}

.table_5_inner .cell {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    flex-grow: 1;
    border-top: 1px solid #e9eef2;
    border-left: 1px solid #e9eef2;
    border-bottom: 1px solid #e9eef2;
    padding: 10px 10px 10px 30px;
}

.table_5_inner .cell:last-child {
    border-right: 1px solid #e9eef2;
}

.table_5_inner .cell:nth-child(1) {
    width: 28%;
    border-right: 1px solid #e9eef2;
}

.table_5_inner .cell:nth-child(2) {
    width: 13%;
}

.table_5_inner .cell:nth-child(3) {
    width: 14%;
}

.table_5_inner .cell:nth-child(4) {
    width: 17%;
}

.table_5_inner .cell:nth-child(5) {
    width: 14%;
}

.table_5_inner .cell:nth-child(6) {
    width: 14%;
}

.thumb_2 {
    display: flex;
    display: -webkit-flex;
    width: 100%;
}

.thumb_2 > div:nth-child(1) {
    width: calc(100% - 90px);
}

.thumb_2 > div:nth-child(2) {
    width: 90px;
    text-align: right;
}

.table_5_inner p {
    font-size: 14px;
    line-height: 15px;
    color: #000;
}

.blue_link {
    border-bottom: 1px solid #017efe;
    font-size: 14px;
    line-height: 14px;
    color: #017efe;
    -webkit-transition-property: border;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: border;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: border;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: border;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: border;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.blue_link:hover {
    border-bottom: 1px solid transparent
}

.pink_tag {
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    position: relative;
    background-color: #ffe2e2;
    padding: 6px 10px 6px 10px;
    font-size: 13px;
    line-height: 16px;
    color: #d40c0c;
}

.tooltip {
    display: block;
    padding: 19px 10px 19px 10px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    box-shadow: 1.389px 7.878px 26.1px 3.9px rgba(14, 49, 62, .12);
    -webkit-box-shadow: 1.389px 7.878px 26.1px 3.9px rgba(14, 49, 62, .12);
    width: 216px;
    font-size: 12px;
    line-height: 16px;
    color: #1d1d1d;
    font-weight: normal;
    z-index: 2;
}

.pink_tag .tooltip {
    display: none;
    position: absolute;
    top: 42px;
    left: 50%;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
}

.pink_tag:hover .tooltip {
    display: block;
}

.table_5:after {
    content: "";
    width: 17%;
    height: 1px;
    background-color: #e9eef2;
    position: absolute;
    bottom: 0;
    left: 0;
}

/*-- /Section 1 - Dashboard Page --*/

/*-- Section 1 - Subaccounts Page --*/

.table_6_sect {
    margin-bottom: 25px;
}

.table_6_wrapp {
    margin-bottom: 15px;
}

.table_6_title {
    padding: 13px 35px 13px 35px;
    background-color: #e3f1ff;
}

.table_6_title h2 {
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 20px;
    font-weight: 900;
    color: #000000;
}

.table_6 .table_row {
    display: flex;
    display: -webkit-flex;
    min-height: 51px;
    border-bottom: 1px solid #e9eef2;
}

.table_6 .table_row .cell {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    flex-grow: 1;
    padding: 10px 30px 11px 70px;
    border-right: 1px solid #e9eef2;
}

.table_6 .table_row .cell:nth-child(1) {
    width: 4.5%;
    padding-left: 15px;
}

.table_6 .table_row .cell:nth-child(2) {
    width: 32%;
}

.table_6 .table_row .cell:nth-child(3) {
    width: 32.5%;
}

.table_6 .table_row .cell:nth-child(4) {
    width: 31%;
}

.table_6  .table_header {
    background-color: #eef7ff;
    border-bottom: none;
}

.table_6 h3 {
    font-size: 14px;
    line-height: 15px;
    font-weight: 600;
    color: #000;
}

.table_6 p {
    font-size: 14px;
    line-height: 15px;
    color: #000;
}

.checkbox label {
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
}

.checkbox input {
    cursor: pointer;
    display: block;
    width: 25px;
    height: 25px;
    background-color: transparent;
    border: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    border: 1px solid rgb(227, 18, 18);
}

.checkbox input:checked {
    display: block;
    background-image: url(img/checked.png);
    background-repeat: no-repeat;
    background-position: center;
}

.link_3 {
    font-size: 14px;
    line-height: 14px;
    color: #020202;
    border-bottom: 1px solid #020202;
    -webkit-transition-property: border, color;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: border, color;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: border, color;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: border, color;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: border, color;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.link_3:hover {
    color: #017efe;
    border-bottom: 1px solid #017efe;
}


.table_7 {
    /*margin-bottom: 90px;*/
}

.table_7 .table_row {
    display: flex;
    display: -webkit-flex;
    min-height: 51px;
    border-bottom: 1px solid #e9eef2;
}

.table_7 .table_header {
    background-color: #eef7ff;
    border-bottom: none;
    min-height: 46px;
}

.table_7 .table_row .cell {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    flex-grow: 1;
    border-right: 1px solid #e9eef2;
    padding: 10px 30px 11px 50px;
}

.table_7 .table_row .cell:nth-child(1) {
    width: 34%;
    padding-left: 40px;
}

.table_7 .table_row .cell:nth-child(2) {
    width: 23%;
}

.table_7 .table_row .cell:nth-child(3) {
    width: 22%;
}

.table_7 .table_row .cell:nth-child(4) {
    width: 21%;
}

.table_7 h3 {
    font-size: 14px;
    line-height: 15px;
    font-weight: 600;
    color: #000;
}

.table_7 p {
    font-size: 14px;
    line-height: 15px;
    color: #000;
}

.checked_red {
    width: 26px;
    height: 26px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(img/checked_red.svg);
}

.grey_disabled {
    width: 26px;
    height: 26px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(img/grey_disabled.svg);
}


/*-- /Section 1 - Subaccounts Page --*/


/*-------------------------------------------*/
/* ----- FOOTER ------ */
/*-------------------------------------------*/

footer {
    padding: 1px 0;
}

.footer_section {
    position: relative;
    padding: 10px 0 2px 0;
    z-index: 2;
}

.footer_bg {
    min-width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
}

.footer_section .row {
    position: relative;
    z-index: 2;
}

.inlines {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
}

.inlines > div {
    padding: 0 30px;
}

.footer_section p {
    font-size: 13px;
    line-height: 15px;
    color: #fff;
}

.white_link {
    display: inline-block;
    vertical-align: top;
    border-bottom: 1px solid transparent;
    font-size: 13px;
    line-height: 15px;
    color: #fff;
    -webkit-transition-property: border;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: border;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: border;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: border;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: border;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.white_link:hover {
    border-bottom: 1px solid #fff;
}

.inlines_2 {
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    padding-bottom: 5px;
}
